<!DOCTYPE html>
<html>
	<head>
		<title>Game Catalogue</title>
		<link rel="stylesheet" href="view.css" />
	</head>
	<body>
		<h1>Game Collection</h1>
		<h3>Search for a game:</h3>
		<form action="/view" method="get">
			<input
				type="text"
				name="search"
				value="<%= search %>"
				placeholder="Search Games"
			/>
			<button type="submit">Search</button>
		</form>
		<h2>Games</h2>
		<% if (games.length == 0) { %>
		<h4>No Game Found.</h4>
		<% } else { %>
		<table border="1">
			<thead>
				<tr>
					<th>Name</th>
					<th>Platform</th>
					<th>Status</th>
					<th>Notes</th>
					<th>Date Added</th>
				</tr>
			</thead>
			<tbody>
				<% games.forEach(game => { %>
				<tr>
					<td><%= game.game %></td>
					<td><%= game.platform %></td>
					<td><%= game.completion_status %></td>
					<td><%= game.notes %></td>
					<td><%= new Date(game.date_added).toLocaleDateString() %></td>
				</tr>
				<% }); %>
			</tbody>
		</table>
		<%}%>

		<div class="platforms">
			<h2>Platforms</h2>
			<ul class="platformsCont">
				<% platforms.forEach(element => { %>
				<li><%= element.name %></li>
				<% }); %>
			</ul>
		</div>

		<div class="actions">
			<a href="/addGame">Add New Game</a> |
			<a href="/addPlatform">Add New Platform</a> |
			<a href="/deleteGame">Delete Game</a> |
			<a href="/deletePlatform">Delete Platform</a>
		</div>
	</body>
</html>
